<h1>Update a client</h1>

<form [formGroup]="messageForm" (ngSubmit)="onUpdate(messageForm.value)">

  <div *ngIf="valid">
    <h5 *ngIf="success=='success'" classs="error">Client updated!!</h5>
  </div>
    
    <h5 *ngIf="!valid && error==true"  class="error">{{error}}!!</h5>

    <h5 *ngIf="!valid"  class="error">Check investors!!</h5>

  <label>
      ID:
      <input type="text" formControlName="_id" readonly>
      <div *ngIf="submitted && messageForm.controls._id.errors" class="error">
        <div *ngIf="messageForm.controls._id.errors.required">Client Id is required</div> 
      </div>
    </label>

    <label>
        Name:
        <input type="text" formControlName="name">
        <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
          <div *ngIf="messageForm.controls.name.errors.required">Client name is required</div>
        </div>
      </label>

  <label>
    Description:
    <input type="text" formControlName="description">
    <div *ngIf="submitted && messageForm.controls.description.errors" class="error">
      <div *ngIf="messageForm.controls.description.errors.required">Client description is required</div>
    </div>
  </label>

  <label>
      Investor:
      <input type="text" formControlName="investors" pattern="(\d+)(,\s*\d+)*">
      <div *ngIf="submitted && messageForm.controls.investors.errors" class="error">
        <div *ngIf="messageForm.controls.investors.errors.required">Client investors are required</div>
      </div>
    </label>

  <input type="submit" value="update" class="cta">

</form>